.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
}

.menu__container {
  max-width: 1100px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;

  padding: 15px 0;
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: rgba(var(--background-green));
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: auto;

  .navbar__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000085;
    z-index: 2;
    display: none;
  }

  .navbar__toggle {
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px 6px 3px;
  }

  & .show {
    display: block;
  }

  .navbar__menu {
    position: fixed;
    background-color: #fff;
    width: 300px;
    border: 1px solid #eee;
    top: 0;
    height: 100vh;
    right: -300px;
    z-index: 10;
    transition: all 0.3s ease;
    overflow: scroll;

    .navbar__back_btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #222222;
      text-transform: uppercase;
      border-bottom: 1px solid #efefef;
      cursor: pointer;
      padding: 20px;
    }

    .navbar__link {
      text-transform: uppercase;
      color: #222222;
      padding: 10px 15px;
    }

    .active_link {
      border-bottom: 2px solid #ffffff;
    }
  }

  & .show {
    right: 0;
  }

}

@media screen and (min-width: 768px) {
  .menu__container {
    margin: 10px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    position: absolute;
  }

  .menu__container {
    margin: 10px auto;
  }

  .navbar {
    margin-left: 20px;

    .navbar__toggle,
    .navbar__overlay {
      all: unset;
      display: none;
    }

    .navbar__menu {
      all: unset;
      display: flex;
      list-style: none;

      .navbar__back_btn {
        all: unset;
        display: none;
      }

      .navbar__link {
        color: #fff;

        .active_link {
          border-bottom: 1px solid inherit;
        }
      }
    }
  }
}