.character_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  max-width: 1200px;
}

.character_title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 1rem;
  text-align: center;
}

.character_card {
  text-align: center;
}

.character_card img {
  border-radius: 20px;
}